body {
  background: $nightrider;
  color: $white;
  text-align: center;
}

button {
  color: $black;
}

.logo-img {
  float: left;
  height: 150px;
  width: 150px;
}

.modal-label {
  color: $black;
}

.logo-content {
  float: inherit;
  text-align: left;
  padding: 10px;
}

.logo-title {
  float: inherit;
  text-align: center;
}

.nbr-header {
  background: $black;
  border-radius: 30% 20%;
  border-style: groove;
  color: $white;
  text-align: center;
}

.spacer-sm {
  height: 25px;
}

.spacer-lg {
  height: 50px;
}

.test {
  background: $madison;
  border-radius: 8%;
  border-style: solid;
  color: $white;
  display: inline-block;
  height: inherit;
}

.test-sm {
  background: $shuttlegrey;
  border-radius: 8%;
  border-style: solid;
  color: $white;
  display: inline-block;
  height: inherit;
}

.user-form-label {
  color: $black;
}
