body {
  background: $gray20;
  color: $white;
  text-align: center;
}

button {
  color: $black;
}

.logo-img {
  float: left;
  height: 150px;
  width: 150px;
}

.modal-label {
  color: $black;
}

.logo-content {
  float: inherit;
  text-align: left;
}

.nbr-header {
  background: $black;
  border-radius: 30% 20%;
  border-style: groove;
  color: $white;
  text-align: center;
}

.spacer {
  height: 50px;
}

.test {
  border-radius: 8%;
  border-style: solid;
  color: $white;
  display: inline-block;
  height: inherit;
}

.user-form-label {
  color: $black;
}
